streamlit
fastapi
uvicorn
langchain
google-genai
langchain-google-genai
langchain_openai
langchain_anthropic
langgraph
langchain-core
pydantic
python-dotenv
requests
aiofiles
python-multipart
httpx
jira
markdown2
